{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'coach_appointment_site/style.css' %}">
    {% tailwind_css %}
    <meta charset="UTF-8">
    <title>Coach App - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" type="image/x-icon" href="/static/coach_appointment_site/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    {% include "./partials/header.html" %}

    <div class="dark:bg-gray-600 flex flex-grow items-center justify-center">
      <div class="content w-full flex flex-col items-center justify-center p-4">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% include "./partials/footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>