{% extends "./base.html" %}

{% load user_extras %}

{% block title %}Coach Appointment App - Accueil{% endblock %}





{% block content %}

    {% if user.is_authenticated %}
        <p>Bonjour {{ user.username }} !</p>
        {% if user|has_group:"admin" %}
            <p>Vous êtes un admin.</p>
        {% elif user|has_group:"coach" %}
            <p>Vous êtes un coach.</p>
        {% elif user|has_group:"client" %}
            <p>Vous êtes un client.</p>
        {% endif %}
    {% else %}
      <p>Vous n'êtes pas connecté.</p>
    {% endif %}

    <h1 class="bg-testpink">Page d'accueil</h1>
    <p>Voici le dashboard.</p>
{% endblock %}