{% extends "./base.html" %}

{% load user_extras %}
{% block title %}Your best self is waiting for you!{% endblock %}

{% block content %}

<div class="w-2/3 grid mb-8 gap-2 md:grid-cols-4">
    <div class="col-span-3 mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-lg p-8 mt-0 text-center">
        <h2 class="text-3xl font-bold mb-4 text-gray-900 dark:text-white">
            Bring out the best of yourself!
        </h2>
        <p class="text-gray-700 dark:text-gray-300 mb-6 text-lg">
            Take appointments with our lifestyle, self-development and performance coaches.
            Achieve your goals with tailor-made support, either face-to-face or online.
        </p>
        <div class="flex items-center justify-center">
            <a href="{% if user.is_authenticated and not user|has_group:'admin' %}/dashboard{% else %}/signup{% endif %}" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xl px-5 py-2.5 text-center me-2 mt-2">
                My journey starts now
            </a>
        </div>
    </div>

<div class="col-span-1 p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
<h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Standard plan</h5>
<div class="flex items-baseline text-gray-900 dark:text-white">
<span class="text-3xl font-semibold">$</span>
<span class="text-5xl font-extrabold tracking-tight">49</span>
<span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
</div>
<ul role="list" class="space-y-5 my-7">
<li class="flex items-center">
<svg class="shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
</svg>
<span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">2 appointments a month</span>
</li>
<li class="flex">
<svg class="shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
</svg>
<span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">Your own personalized dashboard</span>
</li>
<li class="flex">
<svg class="shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
</svg>
<span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">Feedback from our coaches</span>
</li>
<li class="flex line-through decoration-gray-500">
<svg class="shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
</svg>
<span class="text-base font-normal leading-tight text-gray-500 ms-3">Self-respect</span>
</li>
</div>
</div>


<div class="grid mb-8 border border-gray-200 rounded-lg shadow-xs dark:border-gray-700 md:mb-12 md:grid-cols-4 bg-white dark:bg-gray-800">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border border-gray-200 rounded-l-lg md:rounded-t-lg md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Life-changing guidance</h3>
            <p class="my-4">"I’ve never felt so empowered and clear about my goals. These sessions unlocked a whole new level of confidence."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                <div>Emma Wilson</div>
                <div class="text-sm text-gray-500 dark:text-gray-400 ">Entrepreneur</div>
            </div>
        </figcaption>
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Remarkable progress</h3>
            <p class="my-4">"I went from feeling stuck to achieving milestones I once thought were impossible. Truly transformative!"</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                <div>Daniel Carter</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">Marketing Specialist</div>
            </div>
        </figcaption>
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border border-gray-200 md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">True inner growth</h3>
            <p class="my-4">"The coaching experience helped me reconnect with my values and build daily habits that bring me joy."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                <div>Sophia Martinez</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">Freelance Designer</div>
            </div>
        </figcaption>
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border border-gray-200 rounded-r-lg dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Game changer!</h3>
            <p class="my-4">"In just a few sessions, my mindset completely shifted. I’m now taking action every single day."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                <div>Liam Johnson</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">Startup Founder</div>
            </div>
        </figcaption>
    </figure>
</div>


{% endblock %}